@page "/counter"
<h3>Counter</h3>
<br/>

<b>Interactive Server Counter:</b>
<CounterComponent @rendermode="InteractiveServer"></CounterComponent>
<br/>
<br/>
<br/>
<br/>

<b>Interactive WebAssembly Counter:</b>
<CounterComponent @rendermode="InteractiveWebAssembly"></CounterComponent>

@code {

}
